* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* changed background-color of h1 element to meet AA level requirements. Previously steelblue by example directions. */
nav {
    background-color: #116b92;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

h1 {
    color: #116b92;
    border-bottom: solid #116b92;
    border-width: 1px;
    padding: 10px;
    }

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 10px;
}

p {
    padding: 0;
    margin: 10px;
}


aside {
    position: relative;
    width: auto;
    text-align: center;
    }
/* Changed aside h2 heading color to bronze to make it more easily visible when positioned on the image. */
aside h2 {
    position: absolute;
    top: 20px;
    left: 65px;
    color: #c38946;
}

aside img { 
    width: 200px;
    height: auto;
}

footer {
    border: 1px solid #116b92;
    text-align: center;
    
}
header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid #116b92;
    padding: 1rem;
    background-color: #eee8d3;
    color: #116b92;
}

.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

